/* Reset mặc định */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

/* Main page content */
.exam-page {
  width: 90%;
  margin: auto;
  padding: 30px 16px;
}

.breadcrumb {
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 2px;
}

.tab {
  padding: 10px 16px;
  background: #f1f3f5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.tab.active {
  background: #d32f2f;
  color: white;
}

/* Box content */
.main-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.mascot-img {
  width: 180px;
  margin-bottom: 12px;
}

.speech {
  display: inline-block;
  background: #d32f2f;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 12px;
}

/* Button bắt đầu */
.start-btn {
  background: rgb(171, 31, 36);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
